* {
    font-size: 12px;
    font-family: 'Calibri', sans-serif;
}


.pdfPage {
    width: 794px;
    min-height: 1123px;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
    page-break-after: always;

    background-image: url("./assets/Page_lining.jpg");
    background-size: cover;
}

.page__Title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 120px;
    color: #BAD701;
}


.page__Text-container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_Items {
    width: 100%;
    border-collapse: collapse;
    page-break-inside: auto;
    font-size: 14px;
}


.page_Items th,
.page_Items td {
    border: 1px solid #444;
    padding: 10px 14px;
    text-align: left;
}

.page_Items thead {
    border-bottom: 2px solid #000;
    display: table-header-group;
}

.page_Items tfoot {
    display: table-footer-group;
}


.page_Items tbody tr {
    border-bottom: 1px solid #ddd;
    page-break-inside: avoid;
    page-break-after: auto;
}

.page_Items tbody tr:last-child {
    border-bottom: none;
}

.page__Total {
    padding: 20px 40px;
    display: flex;
    gap: 20px;
}

.page__Total span {
    display: inline-block;
    color: gray;
    background: linear-gradient(to top right,
            transparent 47%,
            red 48%,
            red 52%,
            transparent 53%);
}